.wrapper {
  width: 210px;
  border-radius: 30px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.wrapper:hover {
  transform: translateY(-2px);
}

.container {
  display: flex;
  gap: 12px;
  background: linear-gradient(180deg, #734ee0 0%, #573ad9 92.5%);
  box-shadow: 0px 8px 10px rgba(95, 64, 220, 0.2),
    inset 0px 2px 4px rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 8px;
  border: 0.5px solid;
  border-image-source: linear-gradient(
    143.97deg,
    rgba(0, 0, 0, 0.3) 20.26%,
    rgba(0, 0, 0, 0.4) 85.18%
  );
}

.circle {
  width: 24px;
  height: 24px;
}