.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 20px;
  background: linear-gradient(
    270deg,
    #f1f1f1 12.86%,
    rgba(255, 255, 255, 0) 83.72%
  );
  mix-blend-mode: normal;
  padding: 40px 0px 40px 56px;
  margin-top: 53px;
}

.code {
  gap: 12px;
  background: linear-gradient(180deg, #baaed1 0%, rgba(186, 174, 209, 0) 100%);
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  box-sizing: border-box;
}

.play {
  background-color: #f1f1f1;
}

@media (max-width: 560px) {
  .wrapper {
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 32px 20px;
    margin-top: 40px;
  }
}
