.content {
  display: grid;
  grid-template-columns: auto 855px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.description {
  position: relative;
}

@media (max-width: 1400px) {
  .content {
    grid-template-columns: 1fr;
    align-content: center;
    padding-bottom: 40px;
  }

  .game {
    background: linear-gradient(
      270deg,
      #f1f1f1 12.86%,
      rgba(255, 255, 255, 0) 83.72%
    );
  }
}
