.wrapper {
  position: relative;
  padding: 24px 20px 24px 0px;
  border: solid;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  border-radius: 20px;
}

.wrapper.open {
  position: fixed;
  padding: 0px;
  border-radius: 0px;
}

.closeButton {
  top: 54%;
  left: -32px;
}

@media (max-width: 1400px) {
  .spline-container {
    padding: 0px 20px 10px;
  }

  .spline-container.open {
    padding: 0px;
  }

  .closeButton {
    top: -44px;
    left: 50%;
    margin-left: -50px;
    transform: rotate(90deg);
  }
}
