.wrapper {
  position: relative;
  margin: 24px 20px 24px 0px;
  inset:0;
  overflow: auto;
  border-radius: 20px;
}

.wrapper.open {
  position: fixed;
  margin: 0px;
  border-radius: 0px;
}

@media (max-width: 1400px) {
  .wrapper {
    margin: 0px 20px 10px;
  }

  .wrapper.open {
    margin: 0px;
  }
}
